# Output files or temp files
.DS_Store
.DS_Store?
.Rhistory
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.html
*.csv
*.pyc
*.jpg
*.jpeg
*.png
*.npy
*.xlsx
*.xls

# Description files
*.pdf
*.aux
*.log
*.blg
*.bbl
*.ppt
*.pptx
*.doc
*.docx

# Classification files (available by formal request only)
SVM_Classifier_to_Save_Final.R
SVM_Classifier_Visualization.R
